@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Mukta+Mahee:wght@200&display=swap');

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: rgb(11, 11, 11);
  color: white;
  font-family: "Mukta Mahee";
  font-size: 30px;
}

img {
  height: 300px;
  width: 300px;
  margin: 0px 20px;
}

.song {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.artist {
  font-size: 50px;
  font-family: "Black Ops One";
}